set HERE_APP_ID "your-here-app-id"
set HERE_APP_CODE "your-here-app-code"

set GOOGLE_MAPS_API_KEY "your-google-maps-api-key"

set YELP_APP_ID "your-yelp-app-id"
set YELP_APP_SECRET "your-yelp-app-secret"

set FOURSQUARE_CLIENT_ID "your-foursquare-client-id"
set FOURSQUARE_CLIENT_SECRET "your-foursquare-client-secret"
